<div class="span12">
<div class="span8">
<h2> Consortium on Asthma among African-ancestry Populations in the Americas (CAAPA) </h2>


<h3>Summary</h3>

<p>
Whole genome sequences were available on 883 individuals from 19 case-control studies of asthma included in the Consortium on Asthma among African-ancestry Populations in the Americas (CAAPA) and were used to summarize the genomic contributions to individuals of African ancestry.  The original selection criteria were (i) self-reported African ancestry; (ii) a physician’s diagnosis of asthma for cases or a negative history of asthma symptoms and asthma medication usage for controls.  Recruitment sites included 9 cities in the US (Atlanta, Baltimore/Washington, Chicago, Detroit, Nashville, New York City, San Francisco, Jackson, MS, and Winston-Salem NC), 4 populations in the Caribbean (Barbados, Dominican Republic, Jamaica, and Puerto Rico), 4 in Central/South America (Brazil, Honduras, and 2 in Colombia) and 2 populations representing West Africa (Nigeria and Gabon), from which most ancestral founders of the African diaspora originated.
</p>

<hr>
<h3>Project Website</h3>
 <a href="http://www.caapaproject.net" target="_blank" >http://www.caapaproject.net</>


<hr>

<br><br>

</div> 

<div>
