<h2>Contact</h2>
<br>
<h4>Imputation engine: <a href="http://genome.sph.umich.edu/wiki/Minimac3">Minimac3</a></h4>
<ul>
	<li><a href="mailto:cfuchsb@umich.edu">Christian Fuchsberger</a></li>
	<li><a href="mailto:goncalo@umich.edu">Goncalo Abecasis</a></li>
<li><a href="mailto:sayantan@umich.edu">Sayantan Das</a></li>
</ul>
<br>
<h4>Cloud framework: <a href="http://cloudgene.uibk.ac.at/">Cloudgene</a></h4>
<ul>
	<li><a href="mailto:sebastian.schoenherr@uibk.ac.at">Sebastian Schoenherr</a></li>
	<li><a href="mailto:lukas.forer@i-med.ac.at">Lukas Forer</a></li>
</ul>

<br>
<h4>Pre-phasing</h4>

<ul>
  <li> <a href="https://code.google.com/p/hapi-ur/">HAPI-UR</a>
  <ul>
	<li><a href="mailto:alw@biology.columbia.edu">Amy Williams </a></li>
  </ul>
  </li>

  <li> <a href="https://mathgen.stats.ox.ac.uk/genetics_software/shapeit/shapeit.html">ShapeIT</a>
  <ul>
	<li><a href="mailto:marchini@stats.ox.ac.uk">Jonathan Marchini</a></li>
  </ul>
  </li>

</ul>
