<div class="span12">
<div class="span8">
<img src="/static/images/small_h-trans.png" alt="docker" style="width:120px">

<h2> Michigan Imputation Server on Docker </h2>

<h3>Summary</h3>
This tutorial sets up the Michigan Imputation Server on <a target="_blank" href="https://www.docker.com/">Docker</a>. Please note that currently only the <b>HapMap2 Panel </b> is available within the Docker Image. 
To impute against 1000G or HRC please use the official instance of the
<a target="_blank" href="https://imputationserver.sph.umich.edu">Michigan Imputation Server</a>.


<hr>
<h3>Requirements</h3>
To run docker images, Docker must be installed on your local computer.
For Ubuntu Linux:
<pre> sudo apt-get install docker </pre>
 Please checkout the 
<a target="_blank"  href="https://docs.docker.com/engine/installation/">documentation</a> for other systems.
<p>


<h3>Run Michigan Imputation Server</h3>

<h4>Setup</h4>
<pre>sudo docker run --privileged -it -p 8082:8082 seppinho/cloudgene-docker --repository https://github.com/genepi/imputationserver.git</pre>

<h4>Connect & Run Imputation Jobs</h4>
<pre> http://localhost:8082 or http://your-ip-address:8082</pre>


<h3>Optional: Checkout Source and Run Michigan Imputation Server</h3>

<h4>Build Source Code</h4>
<pre>git clone https://github.com/genepi/imputationserver.git
cd imputationserver
mvn clean install -Dmaven.test.skip=true
</pre>

<h4>Setup</h4>
<pre>sudo docker run --privileged -it -p 8082:8082 -p 50030:50030 -p 50060:50060 -v <b>path-to-imputationserver-repository</b>/target/minimac-cloud-assembly/:/opt/cloudgene/apps/ seppinho/cloudgene-docker</pre>
Note: Don't forget to specify the path to your local imputationserver repository 

<h4>Adding Reference Panels</h4>

<pre>sh /opt/cloudgene/apps/config/init-hapmap.sh cloudgene</pre>
Note: This command has to be executed within root console of the Docker image. 

<h4>Connect & Run Imputation Jobs</h4>
<pre> http://localhost:8082 or http://your-ip-address:8082</pre>


<h3>Contact </h3>
Feel free to contact <a href="mailto:sebastian.schoenherr@i-med.ac.at">Sebastian Schoenherr</a>  or <a href="mailto:lukas.forer@i-med.ac.at">Lukas Forer</a> in case of any problems.



<hr>

<br><br>

</div> 

<div>
