<div class="span12">
<div class="span8">
<img src="/static/images/small_h-trans.png" alt="docker" style="width:120px">

<h2> Michigan Imputation Server on Docker </h2>

<h3>Summary</h3>
This tutorial sets up the Michigan Imputation Server on <a target="_blank" href="https://www.docker.com/">Docker</a>. Please note that currently only the <b>HapMap2 Panel </b> is available within the Docker Image. 
To impute against the 1000G Panel or <a target="_blank" href="http://www.haplotype-reference-consortium.org">HRC</a> please use the official instance of the
<a target="_blank" href="https://imputationserver.sph.umich.edu">Michigan Imputation Server</a>.

<h3>License</h3>
Michigan Imputation Server is licensed under <a target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>. 

<hr>
<h3>Requirements</h3>
To run docker images, Docker must be installed on your local computer.
For Ubuntu Linux:
<pre> sudo apt-get install docker.io </pre>
 Please checkout the 
<a target="_blank"  href="https://docs.docker.com/engine/installation/">documentation</a> for other systems.
<p>

<hr>

<h3>Run Michigan Imputation Server on Docker</h3>
The server can be started with two simple commands. 

<h4>Setup</h4>
<pre>docker pull seppinho/cloudgene-docker
sudo docker run --privileged -it -p 8082:8082 seppinho/cloudgene-docker --repository https://github.com/genepi/imputationserver.git</pre>

<h4>Connect</h4>
<pre> http://localhost:8082 or http://your-ip-address:8082</pre>
<b>Credentials</b>: admin / admin1978

<h3>Download sample data</h3>
A sample file (chromosome 1) including ~23k SNPs (simluated HapMap300 chip) can be found  <a target="_blank" href="https://imputationserver.sph.umich.edu/static/downloads/hapmap300.chr1.recode.vcf.gz">here</a>.
<hr>

<h3>Optional: Checkout source first</h3>
This allows you to checkout the codebase locally and run the adapted source within Docker. 
<h4>Build Source Code</h4>
<pre>git clone https://github.com/genepi/imputationserver.git
cd imputationserver
mvn clean install -Dmaven.test.skip=true
</pre>

<h4>Setup</h4>
<pre>docker pull seppinho/cloudgene-docker
sudo docker run --privileged -it -p 8082:8082 -p 50030:50030 -p 50060:50060 -v <b>path-to-imputationserver-repository</b>/target/minimac-cloud-assembly/:/opt/cloudgene/apps/ seppinho/cloudgene-docker</pre>
<b>Note:</b> Don't forget to specify the path to your local imputationserver repository 

<h4>Adding HapMap2 Reference Panel</h4>

<pre>sh /opt/cloudgene/apps/config/init-hapmap.sh cloudgene</pre>
<b>Note:</b> This command has to be executed within root console of the Docker image. 

<h4>Connect</h4>
<pre> http://localhost:8082 or http://your-ip-address:8082</pre>
<b>Credentials</b>: admin / admin1978

<h3>Contact </h3>
Feel free to contact <a href="mailto:sebastian.schoenherr@i-med.ac.at">Sebastian Schoenherr</a>  or <a href="mailto:lukas.forer@i-med.ac.at">Lukas Forer</a> in case of any problems.

<hr>

<br><br>

</div> 

<div>
