

<h2>Welcome</h2>
<div class="row">
  <div class="span8">

<p>This server provides a free genotype imputation service. You can upload GWAS genotypes and receive imputed genomes in return.
<br />
Our server offers imputation from HapMap, 1000 Genomes (Phase 1 and Phase 3), and <a href="http://www.haplotype-reference-consortium.org">HRC</a>.

</p>
<div id="login-form">

</div>


<hr>

<div id="myCarousel" class="carousel slide" style="height: 100px">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">

<div  style="height: 100px; padding-left: 70px; padding-right: 70px;" >
<table>
<tbody>
	<tr class="">
		<td width="100px"><center><img src="assets/img/upload.png" width="70px"></img></center></td><td>
		<h4>1. Upload your genotypes</h4>
		<p>Upload your data to our server located in Michigan. All interactions with the server are secured.</p></td>
	</tr>
		</tbody>
</table>
</div>

</div>

<div class="item">


<div  style="height: 100px; padding-left: 70px; padding-right: 70px;" >
<table>
<tbody>	
	<tr class="">
		<td width="100px"><center><img src="assets/img/impute.png" width="70px"></img></center></td><td>
		<h4>2. Impute your genotypes</h4>
		<p>Choose a reference panel. We will take care of pre-phasing and imputation.</p></td>
	</tr>
		</tbody>
</table>
</div>

</div>
    <div class="item">

<div  style="height: 100px; padding-left: 70px; padding-right: 70px;" >
<table >
<tbody>	
	<tr class="">
		<td width="100px"><center><img src="assets/img/download.png" width="70px"></img></center></td><td>
		<h4>3. Download the results</h4>
		<p>All results are encrypted with a one-time password. After 7 days, all results are deleted from our server.</p>
		</td>
	</tr>
		</tbody>
</table>	
</div>


</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<h3>News</h3>

<p><b>23. March 2015</b>

<ul>
<li>New Fair Use Policy: please contact us if you want to impute >6,000 samples</li>
</ul>

<hr>


<h3>Project Partners</h3>


<a href="http://csg.sph.umich.edu/"><img src="/assets/img/umich.png" class="img-rounded"></a> &nbsp;<a href="http://genepi.i-med.ac.at"><img src="/assets/img/genepi.png"></a>


</div>


<div class="span2">


<div id="counter" >


<table class="table table-bordered">
	<tbody>
		<tr class="well">
			<td colspan="2"><i class="icon-signal"></i> <b>Statistics</b></td>
		</tr>
		<tr >
			<td>Chromosomes</td>
			<td><%= (counter.attr('complete.chromosomes')* 1).toLocaleString() %></td>
		</tr>
		<tr >
			<td>Genomes</td>
			<td><%= Math.round(counter.attr('complete.chromosomes') / 22).toLocaleString() %></td>
		</tr>
	</tbody>
</table>
<br>
<table class="table table-bordered">
	<tbody>
		<tr class="well">
			<td colspan="2"><i class="icon-signal"></i> <b>Server Status</b></td>
		</tr>
		<tr >
			<td colspan="2"><b><%= counter.attr('running.chromosomes')? (counter.attr('running.chromosomes')* 1).toLocaleString() : '0' %></b> Chromosomes are currently in progress.</td>
		</tr>
		<tr >
			<td colspan="2"><b><%= counter.attr('waiting.chromosomes')? (counter.attr('waiting.chromosomes')* 1).toLocaleString() : '0' %></b> Chromosomes are in the queue.</td>
		</tr>		
	</tbody>
</table>

</div>


</div>
</div>
