

<h2>Welcome</h2>
<div class="row">
  <div class="span8">

<p>This server provides a free genotype imputation service. You can upload GWAS genotypes and receive imputed genomes in return.
<br />
The underlying imputation engine is based on minimac, which implements a low memory, computationally efficient algorithm for genotype imputation that can handle very large reference panels with thousands of haplotypes.
<br />
The current version of this server uses the 1000 Genomes Project Phase I or III release as a reference for imputation.
</p>
<div id="login-form">

</div>

<hr>

<h3>News</h3>

<p><b>5. February 2015</b>

<ul>
<li>Fixed password recovery and missing site in chr6 info file</li>
</ul>

<p><b>29. January 2015</b>

<ul>
<li>X chromosome: extended support expected by Feb 14th</li>
</ul>

<p><b>19. December 2014</b>

<ul>
<li>Improving data export</li>
</ul>
</p>

<p><b>26. November 2014</b>

<ul>
<li>Improved QC for detecting strand flips</li>
<li>More restrictive filters during QC</li>
</ul>
</p>

<p><b>25. October 2014</b>

<ul>
<li>Integrated genetic maps for phasing</li>
</ul>
</p>

<p><b>20. October 2014</b>

<ul>
<li>Integrated 1000 Genomes phase3 panel</li>
<li>Updated to minimac3 for imputation</li>
</ul>
</p>


<hr>

<h3>How does it work?</h3>



<div id="myCarousel" class="carousel slide" style="height: 100px">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">

<div  style="height: 100px; padding-left: 70px; padding-right: 70px;" >
<table>
<tbody>
	<tr class="">
		<td width="100px"><center><img src="assets/img/upload.png" width="70px"></img></center></td><td>
		<h4>1. Upload your genotypes</h4>
		<p>Upload your data to our server located in Michigan. The complete interaction with the server is secured with HTTPS.  After the imputation process has finished all input data is deleted from our server.</p></td>
	</tr>
		</tbody>
</table>
</div>

</div>
    <div class="item">


<div  style="height: 100px; padding-left: 70px; padding-right: 70px;" >
<table>
<tbody>	
	<tr class="">
		<td width="100px"><center><img src="assets/img/impute.png" width="70px"></img></center></td><td>
		<h4>2. Impute your genotypes</h4>
		<p>Start the imputation by selecting the reference panel and the phasing algorithm (ShapeIT, HAPI-UR). </p></td>
	</tr>
		</tbody>
</table>
</div>

</div>
    <div class="item">

<div  style="height: 100px; padding-left: 70px; padding-right: 70px;" >
<table >
<tbody>	
	<tr class="">
		<td width="100px"><center><img src="assets/img/download.png" width="70px"></img></center></td><td>
		<h4>3. Download the results</h4>
		<p>All results are encrypted with a one-time password which is sent to you via email. After 7 days, all imputation results are deleted from our server. </p>
		</td>
	</tr>
		</tbody>
</table>	
</div>


</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>






<hr>

<h3>Project Partners</h3>


<a href="http://csg.sph.umich.edu/"><img src="/assets/img/umich.png" class="img-rounded"></a> &nbsp;<a href="http://genepi.i-med.ac.at"><img src="/assets/img/genepi.png"></a>


</div>


<div class="span2">


<div id="counter" >


</div>


</div>
</div>
