

<h2>Welcome</h2>
<div class="row">
  <div class="span8">

<p>This server provides a free genotype imputation service. You can upload GWAS genotypes and receive imputed genomes in return.
<br />
The underlying imputation engine is base on minimac, which implements a low memory, computationally efficient algorithm for genotype imputation that can handle very large reference panels with thousands of haplotypes.
<br />
The current version of this server uses the 1000 genomes project phase I release as a reference for imputation.
</p>
<div id="login-form">

</div>

<hr>

<h3>How does it work?</h3>

<div class="well well-small " >
<table>
<tbody>
	<tr class="">
		<td width="100px"><center><img src="assets/img/upload.png" width="70px"></img></center></td><td>
		<h4>1. Upload your genotypes</h4>
		<p>Upload your data to our server located in Michigan. The complete interaction with the server is secured with HTTPS.  After the imputation process has finished all input data is deleted from our server.</p></td>
	</tr>
		</tbody>
</table>
</div>
<div class="well well-small " >
<table>
<tbody>	
	<tr class="">
		<td width="100px"><center><img src="assets/img/impute.png" width="70px"></img></center></td><td>
		<h4>2. Impute your genotypes</h4>
		<p>Start the imputation by selecting the reference panel and the phasing algorithm (ShapeIT, HAPI-UR). </p></td>
	</tr>
		</tbody>
</table>
</div>
<div class="well well-small " >
<table >
<tbody>	
	<tr class="">
		<td width="100px"><center><img src="assets/img/download.png" width="70px"></img></center></td><td>
		<h4>3. Download the results</h4>
		<p>All results are encrypted with a one-time password which is sent to you via email. After 7 days, all imputation results are deleted from our server. </p>
		</td>
	</tr>
		</tbody>
</table>	
</div>


<hr>

<h3>Project Partners</h3>


<a href="http://csg.sph.umich.edu/"><img src="/assets/img/umich.png" class="img-rounded"></a> &nbsp;<a href="http://genepi.i-med.ac.at"><img src="/assets/img/genepi.png"></a>


</div>


<div class="span2">


<div id="counter" >


</div>


</div>
</div>