<div class="span12">
<div class="span8">
<h2>Release notes HRC version 1.1 - April 2016</h2>


<h3>Summary</h3>


<p>The HRC.r1 panel has been updated to r1.1 to fix a <a href="https://imputationserver.sph.umich.edu/#!pages/hrc">known issue</a>. with the original panel. Changes include:</p>

<ol>
<li>A set of 18 samples from the AMD cohorts were removed due to no longer
having permission to use this subset of samples. The panel now consists of
32,470 samples total.</li>

<li>After identifying a processing issue with chromosomes 9,10,11,12,13,14,15 and 17,
haplotypes for these chromsosomes have been recalulated from scratch and been replaced.</li>

<li>The minor allele count >= 5 (MAC5) cutoff has been re-applied after the
above removals/replacements, hence a small number of sites previously in
HRC.r1 are no longer in HRC.r1.1. The <a href="ftp://ngs.sanger.ac.uk/production/hrc/HRC.r1-1/HRC.r1-1.GRCh37.wgs.mac5.sites.vcf.gz">site list</a></li> has been updated accordingly.
</ol>

<hr>

<h3>HRC Contact</h3>

If you would like to contribute sequence data, or if you have any questions about the project, please contact all three of the co-leaders of the project:
<a href="mailto:marchini@stats.ox.ac.uk">Prof Jonathan Marchini</a>,
<a href="mailto:goncalo@umich.edu">Prof Goncalo Abecasis</a>, and
<a href="mailto:rd@sanger.ac.uk">Prof Richard Durbin</a>.

<hr>

Or visit the project website <a href="http://www.haplotype-reference-consortium.org" target="_blank" >http://www.haplotype-reference-consortium.org</>


<hr>

<br><br>

</div> 

<div>
