<div class="span12">
  <div class="span8">
    <h2>Pipeline Details</h2>

    <p>Our pipeline performs the following steps:</p>

    <table class="table table-bordered">
      <tr class="info">
        <td colspan="1">
          <b>Step 1: Create chunks with a size of 20 Mb</b>
        </td>
      </tr>
    </table>
    <br>
    <table class="table table-bordered">
      <tr class="info">
        <td colspan="2">
          <b>Step 2: For each 20Mb chunk we perform the following quality checks:</b>
        </td>
      </tr>
      <tr>
        <td width="20px"></td>
        <td>
          <p><b>On Chunk level:</b></p>

          <ul>
            <li>Determine amount of valid variants: A variant is valid iff it is included in the reference panel. At least 3 variants must be included.</li>
            <li>Determine amount of variants found in the reference panel: At least 50 % of the variants must be be included in the reference panel.</li>
            <li>Determine sample call rate: At least 50 % of the variants must be called for each sample.</li>

          </ul>
          <br>
          <p>Chunk exclusion: if (#variants
            < 3 || #foundVariants < 50% || sampleCallRate < 50%)</p>
        </td>
      </tr>
      <tr>
        <td width="20px"></td>
        <td>
          <p><b>On Variant level:</b></p>

          <ul>
            <li>Check alleles: Only A,C,G,T are allowed</li>
            <li>Calculate alternative allele frequency (AF): Mark all with a AF > 0.5.</li>
            <li>Calculate SNP call rate</li>
            <li>Calculate chi square for each variant (reference panel vs. study data)</li>
            <li>Determine allele switches: Compare ref and alt of reference panel with study data (A/T and C/G variants are ignored).</li>
            <li>Determine strand flips: After eliminating possible allele switches, flip and compare ref/alt from reference panel with study data.</li>
            <li>Determine allele switches in combination with strand flips: Combine the two rules from above.</li>
          </ul>
          <br>
          <p>Variant exclusion: Variants are excluded in case of: [a] invalid alleles occur (!(A,C,G,T)), [b] duplicates (DUP filter or (pos - 1 == pos)), [c] indels, [d] monomorphic sites, [e] allele mismatch between reference panel and study, [g] SNP call
            rate
            < 90%.</p>
        </td>
      </tr>
      <tr>
        <td width="20px"></td>
        <td>
          <p><b>On Sample level:</b></p>

          <ul>
            <li>For chrX, check if sex can be determined. Exclude sample otherwise.</li>
            <li>For chr1-22, a chunk is excluded if one sample has a call rate
              < 50 %. Only complete chunks are excluded, not samples (see "On Chunk level" above)</li>
          </ul>
        </td>
      </tr>
    </table>
    <br>
    <table class="table table-bordered">
      <tr class="info">
        <td colspan="2">
          <b>Step 3: Execute for each chunk one of the following phasing algorithms (we use an overlap of 5 Mb).</b> </td>
      </tr>
      <tr>
        <td width="20px"></td>
        <td>

          <p>For example, chr20:1-20000000 and reference population EUR:</p>

          <p><b>ShapeIt</b></p>
          <pre>./vcfCooker --in-vcf chunk_20_0000000001_0020000000.vcf --write-bed --out chunk_20_0000000001_0020000000
./shapeit --input-bed chunk_20_0000000001_0020000000.bed chunk_20_0000000001_0020000000.bim chunk_20_0000000001_0020000000.fam --input-map genetic_map_b37.tar.gz/genetic_map_chr20_combined_b37.txt --output-max chunk_20_0000000001_0020000000.phased --input-from 1 --input-to 25000000 --effective-size 11418</pre>
          <p><b>HapiUR</b></p>
          <pre>./vcfCooker --in-vcf chunk_20_0000000001_0020000000.vcf --write-bed --out chunk_20_0000000001_0020000000
./insert-map.pl chunk_20_0000000001_0020000000.bim genetic_map_chr20_combined_hapiur_b37.txt
./hapi-ur -g chunk_20_0000000001_0020000000.bed -s chunk_20_0000000001_0020000000.map.bim -i chunk_20_0000000001_0020000000.fam -w 73 -o chunk_20_0000000001_0020000000 -c 20 --start 1 --end 25000000 --impute2</pre>
          <p><b>Eagle</b></p>
          <pre>./eagle --vcfRef HRC.r1-1.GRCh37.chr20.shapeit3.mac5.aa.genotypes.bcf --vcfTarget chunk_20_0000000001_0020000000.vcf.gz  --geneticMapFile genetic_map_chr20_combined_b37.txt --outPrefix chunk_20_0000000001_0020000000.phased --bpStart 1 --bpEnd 25000000 --chrom 20 --allowRefAltSwap</pre>          </td>
      </tr>
    </table>
    <br>
    <table class="table table-bordered">
      <tr class="info">
        <td colspan="2">
          <b>Step 4: Execute for each chunk minimac in order to impute the phased data (we use a window of 500 Kb)</b>
        </td>
      </tr>
      <tr>
        <td width="20px"></td>
        <td>
          <pre>./Minimac3 --refHaps HRC.r1-1.GRCh37.chr1.shapeit3.mac5.aa.genotypes.m3vcf.gz --haps chunk_1_0000000001_0020000000.phased.vcf --start 1 --end 20000000 --window 500000 --prefix chunk_1_0000000001_0020000000 --chr 20 --noPhoneHome --format GT,DS,GP --allTypedSites</pre>
        </td>
      </tr>
    </table>
    <br>
    <table class="table table-bordered">
      <tr class="info">
        <td colspan="1">
          <b>Step 5: Merge all chunks of one chromosome into one single vcf</b>
        </td>
      </tr>
    </table>
    <br>
    <table class="table table-bordered">
      <tr class="info">
        <td colspan="1">
          <b>Step 6: Create tabix index and encrypt data with one-time password</b>
        </td>
      </tr>
    </table>
    <br>
    <br>

  </div>

  <div>
