<div class="span12">
  <div class="span8">
    <h2>Reference Panels</h2>

    <p>Our server offers imputation from the following reference panels:</p>

    <br>

    <table class="table table-bordered">
      <tr class="info">
        <td colspan="2">
          <h4>HRC (Version r1.1 2016)</h4>
          <p>This HRC panel consists of 64,940 haplotypes of predominantly European ancestry.</p>
        </td>
      </tr>
      <tr>
        <td width="200px">Number of Samples</td>
        <td>32,470</td>
      </tr>
      <tr>
        <td>Sites</td>
        <td>XXX</td>
      </tr>
      <tr>
        <td>Chromosomes</td>
        <td>1-22 and <b>chromosome X</b></td>
      </tr>
      <tr>
        <td>Website: </td>
        <td><a href="http://www.haplotype-reference-consortium.org">http://www.haplotype-reference-consortium.org</a></td>
      </tr>
    </table>

    <br>

    <table class="table table-bordered">
      <tr class="warning">
        <td colspan="2">
          <h4>HRC (Version r1 2015) <span class="badge badge-warning">Deprecated</span></h4>
          <p>This HRC panel consists of 64,940 haplotypes of predominantly European ancestry.</p>
        </td>
      </tr>
      <tr>
        <td width="200px">Number of Samples</td>
        <td>32,470</td>
      </tr>
      <tr>
        <td>Sites</td>
        <td>XXX</td>
      </tr>
      <tr>
        <td>Chromosomes</td>
        <td>1-22</td>
      </tr>
      <tr>
        <td>Website: </td>
        <td><a href="http://www.haplotype-reference-consortium.org">http://www.haplotype-reference-consortium.org</a></td>
      </tr>
    </table>

    <br>

    <table class="table table-bordered">
      <tr class="info">
        <td colspan="2">
          <h4>1000 Genomes Phase 3 (Version 5)</h4>
          <p>Phase 3 of the 1000 Genomes Project consists of 5,008 haplotypes from 26 populations across the world.</p>
        </td>
      </tr>
      <tr>
        <td width="200px">Number of Samples</td>
        <td>2,504</td>
      </tr>
      <tr>
        <td>Sites</td>
        <td>XXX</td>
      </tr>
      <tr>
        <td>Chromosomes</td>
        <td>1-22 and <b>chromosome X</b></td>
      </tr>
      <tr>
        <td>Website: </td>
        <td><a href="http://www.internationalgenome.org">http://www.internationalgenome.org</a></td>
      </tr>
    </table>

    <br>

    <table class="table table-bordered">
      <tr class="info">
        <td colspan="2">
          <h4>1000 Genomes Phase 1 (Version 3)</h4></td>
      </tr>
      <tr>
        <td width="200px">Number of Samples</td>
        <td>1,092</td>
      </tr>
      <tr>
        <td>Sites</td>
        <td>XXX</td>
      </tr>
      <tr>
        <td>Chromosomes</td>
        <td>1-22</td>
      </tr>
      <tr>
        <td>Website: </td>
        <td><a href="http://www.internationalgenome.org">http://www.internationalgenome.org</a></td>
      </tr>
    </table>


    <br>

    <table class="table table-bordered">
      <tr class="info">
        <td colspan="2">
          <h4>CAAPA - African American Panel</h4>
          <p>Whole genome sequences were available on 883 individuals from 19 case-control studies of asthma included in the Consortium on Asthma among African-ancestry Populations in the Americas (CAAPA) and were used to summarize the genomic contributions
            to individuals of African ancestry. </p>
        </td>
      </tr>
      <tr>
        <td width="200px">Number of Samples</td>
        <td>883</td>
      </tr>
      <tr>
        <td>Sites</td>
        <td>XXX</td>
      </tr>
      <tr>
        <td>Chromosomes</td>
        <td>1-22</td>
      </tr>
      <tr>
        <td>Website: </td>
        <td><a href="http://www.caapaproject.net">http://www.caapaproject.net</a></td>
      </tr>
    </table>

    <br>

    <table class="table table-bordered">
      <tr class="info">
        <td colspan="2">
          <h4>HapMap 2</h4></td>
      </tr>
      <tr>
        <td width="200px">Number of Samples</td>
        <td>XXX</td>
      </tr>
      <tr>
        <td>Sites</td>
        <td>XXX</td>
      </tr>
      <tr>
        <td>Chromosomes</td>
        <td>1-22</td>
      </tr>
      <tr>
        <td>Website: </td>
        <td><a href="http://www.hapmap.org">http://www.hapmap.org</a></td>
      </tr>
    </table>
    <br>
    <br>
  </div>
</div>
